<!DOCTYPE html>
<html dir="ltr" id="h">
<script>
if ({{lan}} == 1) {
    document.getElementById("h").dir = "rtl";
}

</script>

<head>

  <meta charset="UTF-8">
<style>

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 3px solid #dddddd;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size:24px;
}

tr:hover {background-color:#f5f5f5;}
body {
  background-color: lightyellow;
}

</style>


</head>
<body>

<h2 id="h1">Order Description</h2>

<a href="{% url 'List' Order_id=b %}"><button type="button" class="btn btn-danger" id="b1" style="width200px;height:70px;font-size:18px;background-color: #4CAF50;">Continue your shopping</button></a>
<a href="{% url 'ensure' Order_id=b %}"><button type="button" class="btn btn-danger" id="b2" style="width:198px;height:70px;font-size:18px;background-color: #4CAF50;" >confirm</button></a>
<br><br>
<table  style="  background-color: lightblue;">
  <tr >
    <th id="s1" >Item</th>
    <th id="s2">Price</th>
    <th id="s3">Count</th>
    <th id="s4">Total</th>
    <th id="s5">Cancel</th>

  </tr>
   {%for res in res %}
  <tr >
          {% ifequal lan 1  %}
        <td align="center">{{res.product_id.namear}}</td>
                 {% endifequal %}
          {% ifequal lan 2  %}
         <td align="center">{{res.product_id.name}}</td>
          {% endifequal %}
          {% ifequal lan 3  %}
          <td align="center">{{res.product_id.nameru}}</td>
           {% endifequal %}
      <td align="center">{{res.product_id.Price}}</td>
    <td align="center">{{res.count}}</td>
    <td align="center">{{res.value}}</td>
    <td align="center"><a href="{% url 'delete_Item' product_id=res.id Order_id=res.order_id %}">
        <button type="button" class="btn btn-danger" id="den" style="width:70px;height:70px">Delete</button></a>

 </td>
  <tr>
<script>
if ({{lan}} == 1) {
 document.getElementById("den").innerHTML = "حذف";
 }
 else if ({{lan}} == 3) {
  document.getElementById("den").innerHTML = "удалять";
  }
</script>

{% endfor %}
</table>
<p id="p1" style="font-size:24px">Sub Total: {{a}}</p>
<script>
if ({{lan}} == 1) {
  document.getElementById("s1").innerHTML = "الصنف";
    document.getElementById("s2").innerHTML = "السعر";
     document.getElementById("s3").innerHTML = "الكمية";
    document.getElementById("s4").innerHTML = "المجموع";
    document.getElementById("s5").innerHTML = "إلغاء";

    document.getElementById("b1").innerHTML = "طلبات أخرى";
    document.getElementById("b2").innerHTML = "تأكيد";
     document.getElementById("p1").innerHTML = "المجموع الكلي: {{a}}";
      document.getElementById("h1").innerHTML = "مختصر الطلب";
}
else if ({{lan}} == 3) {
     document.getElementById("s1").innerHTML = "пункт";
    document.getElementById("s2").innerHTML = "цена";
     document.getElementById("s3").innerHTML = "количество";
    document.getElementById("s4").innerHTML = "сумма";
    document.getElementById("s5").innerHTML = "отменить";

    document.getElementById("b1").innerHTML = "Другие запросы";
    document.getElementById("b2").innerHTML = "подтверждение";
    document.getElementById("p1").innerHTML = "Общая сумма: {{a}}";
    document.getElementById("h1").innerHTML = "Владелец запроса";
}
</script>
{% ifequal d 1  %}
{% ifequal lan 1  %}
         <p>لا تستطيع حذف الصنف بعد تأكيد الطلب والطلبات المضافة بعد التأكيد تضاف تلقائيأ للطلب</p>
         {% endifequal %}
       {% ifequal lan 2  %}
         <p>You connt delete the item after confirm the order,the items added after confirmation will adding automaticlly </p>
         {% endifequal %}
 {% ifequal lan 3  %}
         <p>Вы не можете удалить товар после подтверждения заказа, а запросы, добавленные после подтверждения, автоматически добавляются в заказ. </p>
         {% endifequal %}
 {% endifequal %}

</body>
</html>




